@using MvcTables.Samples
@using MvcTables.Samples.HtmlExtensions
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/datepicker.css" rel="stylesheet" />
        <link href="~/Content/code.css" rel="stylesheet" />
        @Styles.Render(BundleConfig.ContentBootstrap)
    
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-52978166-1', 'auto');
            ga('send', 'pageview');

</script>
    </head>
    <body data-spy="scroll" data-target="#SideNav">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">MVC Tables</a>
                <ul class="nav">
                    @Html.NavMenuItem("Home", "Index", "Northwind")
                    @Html.NavMenuItem("No Config", "EasyCategories", "Northwind")
                    @Html.NavMenuItem("Auto", "Categories", "Northwind")
                    @Html.NavMenuItem("Basic", "Invoices", "Northwind")
                    @Html.NavMenuItem("Paging", "Orders", "Northwind")
                    @Html.NavMenuItem("Filters", "Filters", "Northwind")
                    @Html.NavMenuItem("Parent Child", "ParentChild", "Northwind")
                    @Html.NavMenuItem("Edit", "Edit", "Northwind")
                </ul>
            </div>
        </div>
        <div id="" class="container-fluid">
            <div id="container" class="row-fluid">
                <div id="SideNav" class="span2">
                    <ul id="SpyTargets" class="nav nav-pills nav-stacked affix">
                    </ul>
                </div>  
                <div class="span9">
                    @RenderBody()
                </div>
            </div>
        </div>

        @Scripts.Render(BundleConfig.BundlesJquery)
        @Scripts.Render(BundleConfig.BundlesBootstrap)
        @Html.MvcTableScript()
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.js"></script>
        <script src="~/Scripts/Spyify.js"></script> 
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(function() {
                var format = { format: 'yyyy-mm-dd' };
                $('input').filter('[data-date="true"]').datepicker(format);
                $('#SpyTargets').spyify('.spy-on-me');
            });
        </script>
    </body>
</html>